<h1>Products</h1>
<h2>Browse our list of products below</h2>
  <% @products.each do |p| %>
  <h3><%= p.name %></h3>
  <h3><%= p.description %></h3>
  <h3><%= p.price_in_dollars %></h3>
  <%= link_to("Show", product_path(p.id))%>
  <% end %>
