<h1>Edit Review</h1>
<%= render '/reviews/form' %>
<%= link_to("Delete Review", product_review_path, :method => :delete, data: {confirm: "Are you sure you want to delete this product: '#{ @product.name }' ?"})%>
